#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.function-button {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: auto;
  //background-color: #f2f2f2;
  background-image: url("assets/background.jpg");
  color: #333;
}

thead {
  background-color: #f5f5f5;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

h2 {
  margin:10px;
  background-color: #f2f2f2
}